.fondo {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(../../../Images/fondo\ marvel.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: end;
}

.option {
  display: flex;
  justify-content: center;
  color: white;
  margin: auto;
  align-items: center;
}
.conteinerButton {
  height: 15em;
  display: grid;
  justify-content: center;
  align-items: end;
  justify-items: center;
}

.button {
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 15px;
  background-color: rgb(111, 53, 53);
  width: 8em;
  height: 3em;
  font-size: large;
  border: solid 2px;
  border-color: brown;
  cursor: pointer;
  font-family: cursive;
}
