.conteiner {
  display: grid;
  grid-template-columns: repeat(2, 45em);
  width: 100%;
  max-height: max-content;
  padding-top: 1em;
  align-items: center;
  justify-content: center;
}

.cadaSerie {
  border: solid;
  border-color:rgb(245, 220, 187);
  text-align: center;
}
.conteinerTresColumns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.characters {
  grid-column: 1/2;
  padding: 0;
  margin: 0;
  font-size: x-small;
  margin: 0.8em;
}
.comics {
  grid-column: 2/3;
  padding: 0;
  margin: 0;
  font-size: x-small;
  margin: 0.8em;
}
.stories {
  grid-column: 3/4;
  padding: 0;
  margin: 0;
  font-size: x-small;
  margin: 0.8em;
}
.title {
  text-align: center;
  font-weight: bolder;
}
.cadaSerie .conteinerTresColumns h3 {
  text-align: center;
}
.conteinerGral{
    background-color: antiquewhite;
    height: 100%;
}
.conteinerGral h1{
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
    padding-top: 3em;
}