:Link{
    height: 100%;
    width: 80%;
  display: grid;
  align-items: center;
  justify-items: center;
  text-decoration: none;
}
.conteinerCards {
  display: grid;
  background-color: antiquewhite;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
padding-top: 5em;
padding-bottom: 3em;
justify-items: center;
height: 100%;
}
.conteinerHome {
  display: block;
 height: 100%;
}
.btn {
  height: 100%;
  width: 100%;
  border-radius: 2em;
  text-align: center;
  color:white;
  font-size: x-large;
  top: 50%; 
  text-decoration: none;
  border: solid;
  border-color: black;
  
}

.lnk1 {
  grid-column: 1/3;
  margin-right: 2%;
  display: table;
  width: 25em;
  height: 18em;
}
.lnk2 {
  grid-column: 3/5;
  margin-right: 2%;
margin-left: 2%;
display: table;
width: 25em;
height: 18em;

}
.lnk3 {
  grid-column: 5/7;
  margin-left: 2%;
  display: table;
  width: 25em;
  height: 18em;
}
.lnk4 {
  grid-column: 2/4;
  grid-row: 2/3;
  margin-top: 1%;
  margin-right: 2%;
  display: table;
  width: 25em;
  height: 18em;
}
.lnk5 {
  grid-column: 4/6;
  grid-row: 2/3;
margin-top: 1%;
  margin-left: 2%;
  display: table;
  width: 25em;
  height: 18em;
}
.btn1{
    background-image: url('../../../Images/Characters.jpg');
    background-repeat: no-repeat;
    max-height: 100%;
    max-width: 100%;
    background-size:cover;
    display: table-cell;
    vertical-align: middle;
}
.btn2{
    background-image: url('../../../Images/fondo\ button\ comics.webp');
    background-repeat: no-repeat;
    max-height: 100%;
    max-width: 100%;
    background-size:cover;
    display: table-cell;
    vertical-align: middle;
}
.btn3{
    background-image: url('../../../Images/creadores.jpeg');
    background-repeat: no-repeat;
    max-height: 100%;
    max-width: 100%;
    background-size:cover;
    display: table-cell;
    vertical-align: middle;
}
.btn4{
  background-image: url('../../../Images/series.jpg');
  background-repeat: no-repeat;
  max-height: 100%;
  max-width: 100%;
  background-size:cover;
  display: table-cell;
  vertical-align: middle;
}
.btn5{
background-image: url('../../../Images/stories.jpg');
background-repeat: no-repeat;
max-height: 100%;
max-width: 100%;
background-size:cover;
display: table-cell;
vertical-align: middle;
}
.resaltar{
  background-color: black;
  padding: 0.5em;
  border-radius: 10px;
  font-weight: bolder;
  font-family:cursive;

}